on:
  push:
    paths:
      - 'docker/release/**'
  schedule:
    # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule
    # https://crontab.guru/ to debug cron syntax
    # run every Monday and Thursday at 1:00 AM Pacific (8 AM UTC)
    # (takes about an hour)
    - cron: '0 8 * * 1,4'
    # - cron: '0 8 * * *'
  workflow_dispatch:
    inputs:
      dummy:
        description: 'A dummy variable to enable manual workflow execution'
        required: false
        default: 'gitty up'
name: build-release-image
jobs:
  build-release-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish base to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: lianos/sparrow
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: docker/release
          tags: latest
